
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Giriş yapmak için aşağıdaki linki kullanabilirsiniz</h2>

<div class="mt-2">
    <h4> @Html.ActionLink("Giriş Yap", "Login")</h4>
</div>

