@model MVC_Dashboard_Northwind.Models.Order
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card-body">
    <a class="btn btn-warning float-end ms-3" href="/order/index">Order</a>
    Order Add
</div>

<div class="card-body">
    <form method="post">
        <label>OrderID</label>
        <input type="text" class="form-control" />

        <label>EmployeeID</label>
        <input type="text" class="form-control" />

        <label>CustomerID</label>
        <input type="text" class="form-control" />

        <label>OrderDate</label>
        <input type="text" class="form-control" />

        <label>RequiredDate</label>
        <input type="text" class="form-control" />

        <label>ShippedDate</label>
        <input type="text" class="form-control" />

        <label>ShipVia</label>
        <input type="text" class="form-control" />

        <label>ShipName</label>
        <input type="text" class="form-control" />

        <label>ShipCity</label>
        <input type="text" class="form-control" />

        <label>ShipCountry</label>
        <input type="text" class="form-control" />

        <br />
        <button type="submit">Add Order</button>

    </form>
</div>